body {
  font-size: medium;
  font-family: times;
  color: black;
}
table p {
  font-size: small;
}
ul {
  color: blue;
}
h1 {
  text-align: center;
  border-bottom: 5px solid black;
}
#profile {
  float: right;
  width: 30%;
  margin-left: 15%;
  margin-right: 5%;
}
#first, #second {
  float: left;
  width: 15%;
  margin: 5%;
}
table {
  clear: both;
  margin: 2px;
  max-height: 500px;
}
table table {
  margin: 1px;
}
.best {
  font-style: italic;
}
a {
  color: green;
}
a:visited {
  color: red;
}
td {
  width: 33.33%;
  height: 100%;
  position: relative;
}
.odd {
  background-color: gray;
  height: 100%;
  display: inline-block;
  width: 90%;
  padding: 10% 5% 0 5%;
}
.even {
  height: 100%;
  display: inline-block;
  width: 100%;
}
table td {
  text-align: center;
}
td img {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 50%;
}
