html, body {
	margin: 0;
	padding: 0;
}

/* Everything with dark red background*/
*, #warning {
	background-color: #2b0606;
	font-family: Fondamento, Georgia, serif;
	font-size: 1em;
}
/*Darkest background*/
.header, h1, .body, .footer, .right, #prolink {
	background-color: #111111;
}
/*Light background*/
.navbar>a, p {
	background-color: #cccccc;
}
/*Dark text*/
.navbar>a, p, a:visited {
	color: #111111;
}
/*Dark red text*/
a:link, a:hover {
	color: #2b0606;
}
/*Light text*/
h1, h2, h3, .footer, #prolink:link, #prolink:hover, #prolink:visited {
	color: #cccccc;
}
/*Grey text*/
#current {
	color: #5e5e5e;
}

body {
	min-height: 85%;
}

body>div {
	max-width: 100%;
}

.header {
	height: 15%;
	width: 98%;
	display: block;
	position: relative;
	margin-top: 0;
	border-bottom: 3px solid #9e0000;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding: 1%;
}
h1 {
	font-size: 40px;
	font-weight: bold;
	padding-left: 5%;
	display: inline;
	position: relative;
	top: 30%;
}
.navbar {
	float: none;
	position: relative;
	display: block;
	width: 65%;
	height: 10%;
	padding: 1%;
	margin-top: -1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 10%;
	border: 3px solid #9e0000;
	z-index: 1;
}
a {
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
}
.navbar>a:hover {
	font-size: larger;
}
.navbar>a:active, .navbar>a:link, .navbar>a:visited {
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid #9e0000;
	border-radius: 15%;
	padding: 0.5%;
	text-decoration: none;
}
.navbar>a:hover {
    font-size: 1.5em;
}
.body {
	position: relative;
	float: none;
	width: 80%;
	padding-top: 1%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	//border-radius: 10%;
	margin-top: -1%;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: inherit;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 1em;
	padding: 1%;
}
.footer {
	height: 15%;
	width: 94%;
	display: block;
	position: relative;
	margin-top: 2%;
	border-top: 3px solid #9e0000;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	padding: 1%;
	padding-left: 5%;
	bottom: 0;
}
.right {
	text-align: right;
	width: 50%;
	display: inline;
	float: right;
	padding-right: 5%;
}
#prolink {
	border: 0;
	border-radius: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
