/*Darkest background*/
table, tr, td{
	background-color: #111111;
}
/*Light background*/
.big {
	background-color: #cccccc;
}
/*Dark text*/
.big {
	color: #111111;
}
table {
	width: 100%;
}
td {
    height: auto
	max-height: 50%;
	width: 50%;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.big {
	display: block;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid #9e0000;
	padding-top: 25%;
	padding-bottom: 25%;
	text-decoration: none;
	text-align: center;
}
#todolist {
	background-image: url("images/projects/todolist.jpeg");
	background-size: cover;
}
#acm {
	background-image: url("images/projects/acm.jpeg");
	background-size: cover;
}
