/*Darkest background*/
table, tr, td{
	background-color: #111111;
}
/*Light background*/
.big, .contact, .rlist, ul, li {
	background-color: #cccccc;
}
/*Dark text*/
.big {
	color: #111111;
}
/*Grey text*/
.subh {
	color: #5e5e5e;
}
.body>h1 {
	padding: 0;
	width: 60%;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;
}
h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	background-color: inherit;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.subh {
	font-size: 1.3em;
}
#resumebody>p {
	padding: 1%;
	margin: 0;
	text-align: justify;
}
.contact {
	width: 23%;
	display: inline-block;
	margin: 0;
	padding: 0.5%;
}
.big {
	display: block;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid #9e0000;
	border-radius: 15%;
	padding-top: 20%;
	padding-bottom: 20%;
	text-decoration: none;
	text-align: center;
}
table {
	width: 100%;
}
td {
	height: 25%;
	width: 25%;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.image {
	max-width: 25%;
	width: 20%;
	height: auto;
}
#tall {
	max-width: 33.3%;
	width: 30%;
	height: auto;
}
img {
	position: relative;
	width: 100%;
	height: auto;
}
.tall {
	height: 100%;
	width: auto;
	//max-width: 33.3%;
	//width: 30%;
	//height: auto;
}
.rlist {
	width: 49%;
	display: table-cell;
	position: relative;
	height: 40%;
	text-align: left;
	padding: 0;
	//top: 0;
}
#container {
	display: table;
	width: 100%;
	position: relative;
}
.list {
	text-align: left;
	padding-top: 1%;
	padding-bottom: 1%;
}
li {
	font-size: 1em;
}
