html, body {
	margin: 0;
	padding: 0;
}
/*img {
	width:300px;
	height:250px;
}*/
/* Everything with dark red background*/
*, #warning {
	background-color: #2b0606;
	font-family: Fondamento, Georgia, serif;
}
/*Everything with light background*/
/*.navbar, .body, table, tr, td {
	background-color: #cccccc;
}*/
/*Darkest background*/
.header, h1, .body, table, tr, td, .footer {
	background-color: #111111;
}
/*Light background*/
div>a, p, .big {
	background-color: #cccccc;
}
/*Dark text*/
div>a, p, .big {
	color: #111111;
}
/*Dark red text*/
h1, h2 {
	color: #2b0606;
}
/*Light text*/
h1, h2, .footer {
	color: #cccccc;
}
/*Grey text*/
#current {
	color: #5e5e5e;
}

body>div {
	max-width: 100%;
}
.header {
	height: 15%;
	width: 98%;
	display: block;
	position: relative;
	margin-top: 0;
	border-bottom: 3px solid #9e0000;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding: 1%;
}
h1 {
	font-size: 40px;
	font-weight: bold;
	padding-left: 5%;
	display: inline;
	position: relative;
	top: 30%;
}
.navbar {
	float: none;
	position: relative;
	display: block;
	width: 65%;
	height: 10%;
	padding: 1%;
	margin-top: -1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 10%;
	border: 3px solid #9e0000;
	z-index: 1;
}
#current {
	//color: #cccccc;
}
div>a {
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid #9e0000;
	border-radius: 15%;
	padding: 0.5%;
	text-decoration: none;
}
.body {
	position: relative;
	float: none;
	width: 85%;
	padding: 1%;
	padding-left: 4.5%;
	padding-right: 4.5%;
	padding-bottom: 2%;
	border-radius: 10%;
	margin-top: -1%;
	margin-left: auto;
	margin-right: auto;
}
#artbody {
	padding-bottom: 3%;
	border-radius: 5%;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: inherit;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 1em;
	padding: 1%;
}
#warning {
	color: #9e0000;
	font-weight: bold;
}
.big {
	display: block;
	//height: 25%;
	//width: 25%;
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid #9e0000;
	border-radius: 15%;
	//padding: 0.5%;
	padding-top: 20%;
	padding-bottom: 20%;
	text-decoration: none;
	text-align: center;
}
table {
	width: 100%;
	//table-layout: fixed;
	//display: block;
}
td {
	height: 25%;
	width: 25%;
	font-size: 1.2em;
	font-weight: bold;
	//border: 2px solid #9e0000;
	//border-radius: 15%;
	//padding: 0.5%;
	text-decoration: none;
}
.image {
	max-width: 25%;
	width: 20%;
	height: auto;
}
#tall {
	max-width: 33.3%;
	width: 30%;
	height: auto;
}
img {
	position: relative;
	width: 100%;
	height: auto;
}
.tall {
	height: 100%;
	width: auto;
	//max-width: 33.3%;
	//width: 30%;
	//height: auto;
}
.footer {
	height: 15%;
	width: 94%;
	display: block;
	position: relative;
	margin-top: 2%;
	border-top: 3px solid #9e0000;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	padding: 1%;
	padding-left: 5%;
}
