img {
	width:300px;
	height:250px;
}
* {
	background-color: #cccccc;
}
.header {
	background-color: #111111;
	color: #9e0000;
	font-size: 30px;
	font-weight: bold;
	font-family: Fondamento, Georgia, serif;
	padding-left: 5%;
	height: 40%;
	width: 100%;
	border-radius: 20%;
	z-index: 100;
	display: block;
	position: absolute;
}
