html, body {
	margin: 0;
	padding: 0;
	background-color: black;
}

/* Everything with dark red background*/
*, #warning {
	background-color: #2b0606;
	font-family: Fondamento, Georgia, serif;
	font-size: 1em;
	color: #111111;
}
/*Darkest background*/
#header, h1, .body, #footer, #right, #prolink, .sidebar, #name {
	background-color: #111111;
}
/*Light background*/
p {
	background-color: #cccccc;
}
/*Dark text*/
p, a:visited {
	color: #111111;
}
/*Dark red text*/
a:link, a:hover {
	color: #2b0606;
}
/*Light text*/
h1, h2, h3, #footer, #prolink:link, #prolink:hover, #prolink:visited, #name {
	color: #cccccc;
}

body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: black;
}

body>div {
	max-width: 100%;
}
#warning {
	color: #9e0000;
	font-weight: bold;
}

#header {
	height: 15%;
	width: 98%;
	position: absolute;
	top: 0;
	margin-top: 0;
	border-bottom: 3px solid #9e0000;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding: 1%;
	box-shadow: 0px 0px 10px #000000;
}
@keyframes vanish {
	from {
		transform: scaleX(1);
		display: default;
	}
	to {
		transform: scaleX(0);
		display: none;
	}
}
#welcome {
	position: absolute;
	display: block;
	background-color: transparent;
	font-size: 3em;
	text-align: center;
	width: auto;
	animation-name: vanish;
	animation-duration: 5s;
	--animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
h1 {
	font-weight: bold;
	padding-left: 5%;
	display: inline;
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
}
@media screen and (orientation: portrait) {
	h1 {
		font-size: 1.5em;
	}
}
img {
	box-shadow: 0px 0px 10px #000000;
}
a {
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
}
a:hover {
	font-size: larger;
}
.body {
	position: absolute;
	margin-top: 15%;
	margin-bottom: 15%;
}
h2 {
	margin: 0;
	text-align: center;
	font-weight: bold;
	background-color: inherit;
	background: inherit;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	background-color: inherit;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 1em;
	padding: 1%;
	box-shadow: 0px 0px 10px #000000;
}
#footer {
	bottom: 0;
	height: 8%;
	width: 94%;
	--display: block;
	position: absolute;
	margin-top: 2%;
	border-top: 3px solid #9e0000;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	padding: 1%;
	padding-left: 5%;
	bottom: 0;
	box-shadow: 0px 0px 10px #000000;
}
#name {
	position: absolute;
	font-size: 1em;
}
#right {
	text-align: right;
	/*width: 50%;*/
	position: absolute;
	right: 0;
	padding-right: 5%;
}
#prolink {
	border: 0;
	border-radius: 0;
	background-color: inherit;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
@media screen and ( max-width: 480px ) and ( orientation: portrait ) {
	#header {
		height: 17%;
	}
	#name, #prolink {
		font-size: 0.5em;
	}
	#footer {
		height: 7%;
	}
	#welcome {
		font-size: 2em;
	}
}
.orbits{
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
}
.orbits>div {
	/*display: none;*/
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 33px black;
	/*animation-name: orbit;
	animation-duration: 20s;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;*/
}
.orbits:nth-child(6) {
	display:none;
}
.orbits:last-child {
	display:none;
}

@media screen and (min-width: 1000px) {
	/*stuff for the animation*/
	.orbits{
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	.orbits>div {
		position: absolute;
		border-radius: 50%;
		--border: 3px solid red;
		box-shadow: 0 0 33px black;
		animation-name: orbit;
		animation-duration: 20s;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
	}

	/*@keyframes vanish {
		0% {
			transform: scaleX(1);
			color: white;
		}
		33% {
			transform: scaleX(0);
			color: green;
		}
		66% {
			transform: scaleX(-1);
			color: yellow:
		}
		99% {
			transform: scaleX(0);
			color: blue;
		}
		100% {
			transform: scaleX(0);
			display: none;
		}
	}*/

	@keyframes orbit {
		from {
			transform: rotate(0deg);
			transform-origin: 0%;
		}
		to {
			transform: rotate(360deg);
			transform-origin: 0% 0%;
		}
	}

	body {
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		background-color: black;
	}

	body>div {
		max-width: 100%;
	}
	#warning {
		color: #9e0000;
		font-weight: bold;
	}

	#header {
		height: 10%;
		width: 98%;
		--vertical-align: center;
		--text-align: center;
		--display: block;
		position: absolute;
		top: 0;
		margin-top: 0;
		border-bottom: 3px solid #9e0000;
		border-bottom-left-radius: 10%;
		border-bottom-right-radius: 10%;
		padding: 1%;
		box-shadow: 0px 0px 10px #000000;
	}
	/*#welcome {
		position: absolute;
		background-color: transparent;
		/*animation-name: vanish;
		animation-duration: 5s;
		--animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}*/
	h1 {
		position: absolute;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 3em;
		font-weight: bold;
		padding-left: 5%;
		display: inline;
	}
	img {
		box-shadow: 0px 0px 10px #000000;
	}
	a {
		font-weight: bold;
		text-decoration: none;
		background-color: inherit;
	}
	a:hover {
		font-size: larger;
	}
	.body {
		position: absolute;
		margin-top: 15%;
		margin-bottom: 15%;
	}
	h2 {
		margin: 0;
		text-align: center;
		font-weight: bold;
		background-color: inherit;
		background: inherit;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	h3 {
		text-align: center;
		font-size: 1.3em;
		font-weight: bold;
		background-color: inherit;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		font-size: 1em;
		padding: 1%;
		box-shadow: 0px 0px 10px #000000;
	}
	#footer {
		bottom: 0;
		height: 8%;
		width: 94%;
		--display: block;
		position: absolute;
		margin-top: 2%;
		border-top: 3px solid #9e0000;
		border-top-left-radius: 10%;
		border-top-right-radius: 10%;
		padding: 1%;
		padding-left: 5%;
		bottom: 0;
		box-shadow: 0px 0px 10px #000000;
	}
	#right {
		text-align: right;
		width: 50%;
		--display: inline;
		right: 0;
		padding-right: 5%;
	}
	#prolink {
		border: 0;
		border-radius: 0;
		background-color: inherit;
		padding: 0;
		margin: 0;
		font-size: 1em;
	}

	.orbits{
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	.orbits:nth-child(6) {
		display: inline;
	}
	.orbits:last-child {
		display: inline;
	}
	.orbits>div {
		display: inline;
		position: absolute;
		border-radius: 50%;
		--border: 3px solid red;
		box-shadow: 0 0 33px black;
		/*animation-name: orbit;
		animation-duration: 20s;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;*/
	}

}
