@-webkit-keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    1% {
        transform: rotate(10deg);
    }
    3% {
        transform: rotate(-10deg);
    }
    5% {
        transform: rotate(10deg);
    }
    7% {
        transform: rotate(-10deg);
    }
    8% {
        transform: rotate(0deg);
    }
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    1% {
        transform: rotate(10deg);
    }
    3% {
        transform: rotate(-10deg);
    }
    5% {
        transform: rotate(10deg);
    }
    7% {
        transform: rotate(-10deg);
    }
    8% {
        transform: rotate(0deg);
    }
}
@media screen and (min-width: 480px) {
    @-webkit-keyframes space {
        0% {
            letter-spacing: 5px;
        }
        2% {
            letter-spacing: 12px;
        }
        5% {
            letter-spacing: -5px;
        }
        6% {
            letter-spacing: 5px;
        }
    }
    @keyframes space {
        0% {
            letter-spacing: 5px;
        }
        2% {
            letter-spacing: 12px;
        }
        5% {
            letter-spacing: -5px;
        }
        6% {
            letter-spacing: 5px;
        }
    }
}
@media screen and (min-width: 930px) {
    @-webkit-keyframes space {
        0% {
            letter-spacing: 5px;
        }
        2% {
            letter-spacing: 20px;
        }
        5% {
            letter-spacing: -10px;
        }
        6% {
            letter-spacing: 5px;
        }
    }
    @keyframes space {
        0% {
            letter-spacing: 5px;
        }
        2% {
            letter-spacing: 20px;
        }
        5% {
            letter-spacing: -10px;
        }
        6% {
            letter-spacing: 5px;
        }
    }
}
