@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700&subset=latin,latin-ext);
* {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz','Acme', sans-serif;
    /*font-weight: bold;*/
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    /*position: absolute;*/
    display: table;
    width: 100%;
    height: 100%;
    background-color: white;
}
/******************************************************************************
 * Styling the header
 *****************************************************************************/
#headerrow {
    display: table-row;
    width: 100%;
    background-color: #111111;
    height: 2em;
    /*top: 0;*/
    /*position: absolute;*/
}
#header {
    background-color: inherit;
    width: 100%;
    border-bottom: 3px solid #9e0000;
}
h1 {
    font-size: 2em;
    margin: 0.2em 0 0.1em 0;
    color: #cccccc;
    /*letter-spacing: 5px;*/
    text-shadow: -4px -4px 4px black, 3px 3px 3px #242424;
    transition: color 2s;
    text-align: center;
}
h1:hover {
    color: #5a5a5a;
}
h2 {
    font-size: 1.3em;
    text-align: center;
    margin: 0.2em 0 0.2em 1.5%;
    color: #5a5a5a;
    text-shadow: -2px -2px 2px black, 1px 1px 1px #242424;
    transition: text-shadow 2s, color 1s;
}
h2:hover {
    text-shadow: 0px 0px 10px #cccccc;
    color: #111111;
}
/******************************************************************************
 * Styling the container/body
 *****************************************************************************/
#container {
    align-items: center;
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
    background-color: #2b0606;
}
#menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    /*display: inline-block;*/
    margin-top: auto;
    margin-bottom: auto;
    background-color: none;
    position: relative;
    width: 100%;
    height: 100%;
}
#wrapper {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
.tr {
    width: 100%;
}
.item {
    flex: 1;
    position: relative;
    min-height: 40px;
    margin: 0.25em 5% 0.25em 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 90%;
    text-decoration: none;
    text-align: center;
    color: #8e8e8e;
    text-shadow: 0px 0px 2px #000000;
    font-weight: bold;
    font-size: 1.7em;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #111111;
    background-size: 202% 100%;
    transition: background-position 1s;
    background-position: 2% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item:hover {
    /*color: #EEEEEE;*/
    /*text-shadow: 0px 0px 3px #000000;*/
    background-position: 80% 0;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #000000, 2px 0px 3px #000000;
}
.item:active {
    background-position: 100% 0;
    /*color: #111111;*/
    /*background-color: #111111;*/
}
#head {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background-image: linear-gradient(to right, #111111 50%, #FFE32D 50%);
}
#grad {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    background-image: linear-gradient(to right, #111111 50%, #73E02F 50%);
}
#bubble {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    background-image: linear-gradient(to right, #111111 50%, #69CCE0 50%);
}
#flask {
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
    background-image: linear-gradient(to right, #111111 50%, #764DDD 50%);
}
#palette {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
    background-image: linear-gradient(to right, #111111 50%, #FF291E 50%);
}
#A {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
    background-image: linear-gradient(to right, #111111 50%, #FF781D 50%);
}
/******************************************************************************
 * Styling the footer
 *****************************************************************************/
#footerrow {
    display: table-row;
    width: 100%;
    height: 2.8em;
    background-color: #111111;
}
#footer {
    display: table;
    width: 100%;
    background-color: inherit;
    border-top: 3px solid #9e0000;
}
#name {
    display: block;
    font-size: 1em;
    margin: 0.2em 0 0.2em 0;
    text-align: center;
    color: #cccccc;
}
#right {
    display: block;
    text-align: center;
    margin: 0.2em 0 0.2em 0;
}
.prolink {
    font-size: 1em;
    color: #cccccc;
    text-decoration: none;
    font-style: bold;
}
.prolink:hover {
    color: #5a5a5a;
}
.prolink:active {
    color: #000000;
}
