@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700&subset=latin,latin-ext);
* {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz','Acme', sans-serif;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #0F3325;
}
/*
 #BDDFB3 - lightest green
 #009D57 - light green
 #2C372E - grey-green
 #0F3325 - deep green
 #465F3F - dirty green
 */
/******************************************************************************
 Styling the header
******************************************************************************/
#headerrow {
    font-weight: bold;
    display: table-row;
    width: 100%;
    background-color: #2C372E;
    box-shadow: 2px black;
}
a {
    text-decoration: none;
}
h1 {
    color: #BDDFB3;
    font-size: 1.8em;
    padding: 2% 0 2% 5%;
    letter-spacing: 3px;
    text-shadow: 0px 2px 2px #0F3325;
}
/*
 #BDDFB3 - lightest green
 #009D57 - light green
 #2C372E - grey-green
 #0F3325 - deep green
 #465F3F - dirty green
 */
/******************************************************************************
 Styling the navigation bar
******************************************************************************/
#current {
    padding: 2%;
    text-align: center;
}
#navbar {
    display: table-row;
    width: 100%;
    background-color: #2C372E;
    margin-bottom: 10%;
    text-align: center;
    border-bottom: 2px solid #BDDFB3;
}
#links {
    width: 100%;
}
#links a, #links a:link, #links a:visited, #links a:hover, #links a:active {
    margin: 0.1%;
    color: #009D57;
}
.nav {
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    font-size: 1em;
    height: 100%;
    padding: 2% 1% 2% 1%;
    text-shadow: 0 1px 2px #0F2925;
    border-right: 1px solid #0F2925;
    border-collapse: collapse;
    font-weight: bold;
}
#last {
    border-right: none;
}
/*
 #BDDFB3 - lightest green
 #009D57 - light green
 #2C372E - grey-green
 #0F3325 - deep green
 #465F3F - dirty green
 */
/******************************************************************************
 * Styling the body/Container
 *****************************************************************************/
#container {
    color: #009D57;
    padding: 5%;
}
p {
    padding: 0 5% 0 5%;
}
h2, h3 {
    text-align: center;
    color: #BDDFB3;
}
h3 {
    font-size: 1.1em;
}
.subh {
    color: #465F3F;
}
li {
    margin-left: 10%;
    margin-right: 5%;
}
table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/*
 #BDDFB3 - lightest green
 #009D57 - light green
 #2C372E - grey-green
 #0F3325 - deep green
 #465F3F - dirty green
 */
/******************************************************************************
 * Styling the footer
 *****************************************************************************/
#footerrow {
    display: table-row;
    width: 100%;
    background-color: #2C372E;
    font-size: 1em;
}
#footer {
    display: table;
    width: 100%;
    background-color: inherit;
}
#name {
    display: block;
    margin: 1% 0 1% 0;
    text-align: center;
    color: #BDDFB3;
    text-shadow: 0px 2px 2px #0F2925;
}
#right {
    display: block;
    text-align: center;
    margin: 1% 0 1% 0;
}
.prolink {
    color: #BDDFB3;
    text-shadow: 0px 2px 2px #0F2925;
    text-decoration: none;
    font-style: bold;
}
