@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700&subset=latin,latin-ext);
* {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz','Acme', sans-serif;
}
a {
    text-decoration: none;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #6E444F;
}
/*
#2B1B2E - darkest purple
#54344D - dark purple
#6E444F - purple
#B89E95 - light purple
#FFFFD6 - lightest purple
*/
/******************************************************************************
* Styling the header
*****************************************************************************/
#headerrow {
    display: table-row;
    font-weight: bold;
    width: 100%;
    background-color: #FFFFD6;
    height: 4.4em;
}
h1 {
    font-size: 2em;
    color: #54344D;
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    text-shadow: 0px 2px 2px #111111;
}
h1:hover {
    text-shadow: 0px 0px 3px #111111;
    color: #B89E95;
}
h1:active {
    text-shadow: 0px 0px 3px #111111;
    color: #FFFFD6;
}
h2 {
    font-size: 1.5em;
    color: #6E444F;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}
/*
#2B1B2E - darkest purple
#54344D - dark purple
#6E444F - purple
#B89E95 - light purple
#FFFFD6 - lightest purple
*/
/******************************************************************************
* Styling the navigation bar
*****************************************************************************/
#navbar {
    /*display: table-row;*/
    /*font-weight: bold;*/
    width: 100%;
    background-color: #FFFFD6;
    text-align: center;
}
.nav {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    height: 100%;
    padding: 0.2em 1% 0.2em 1%;
    min-width: 12%;
    color: #6E444F;
    border-right: 1px solid #6E444F;
    border-collapse: collapse;
}
#last {
    border-right: none;
}
.nav:hover {
    background-color: #6E444F;
    color: #FFFFD6;
    box-shadow: 0px -2px 2px #111111;
}
/*
#2B1B2E - darkest purple
#54344D - dark purple
#6E444F - purple
#B89E95 - light purple
#FFFFD6 - lightest purple
*/
/******************************************************************************
* Styling the body/container div
******************************************************************************/
.project:nth-child(odd)>div {
    background-color: #6E444F;
    color: #FFFFD6;
}
.project:nth-child(odd) h3 {
    text-align: right;
    border-bottom: 1px solid #FFFFD6;
}
.project:nth-child(even)>div {
    background-color: #54344D;
    color: #B89E95;
}
.project:nth-child(even) h3 {
    text-align: left;
    border-bottom: 1px solid #B89E95;
}
.project>div {
    padding: 0.5em;
}
h3 {
    font-size: 1.4em;
    margin-bottom: 0.2em;
}
.project>div:hover {
    background-color: #2B1B2E;
}
p {
    margin-top: 0.2em;
}
/*
#2B1B2E - darkest purple
#54344D - dark purple
#6E444F - purple
#B89E95 - light purple
#FFFFD6 - lightest purple
*/
/******************************************************************************
* Styling the footer
*****************************************************************************/
#footerrow {
    display: table-row;
    font-weight: bold;
    width: 100%;
    background-color: #FFFFD6;
    height: 3em;
    color: #6E444F;
}
#name {
    text-align: center;
    display: block;
    padding-top: 0.4em;
    margin-bottom: 0.4em;
}
#right {
    text-align: center;
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.prolink {
    color: #6E444F;
}
.prolink:hover {
    text-shadow: 0px 0px 3px #111111;
    color: #2B1B2E;
}
.prolink:active {
    text-shadow: 0px 0px 3px #111111;
    color: #FFFFD6;
}
