@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700&subset=latin,latin-ext);
* {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz','Acme', sans-serif;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #FFE205;
}
/*
#EFE38A - beige
#91B166 - greenish
#FFE205 - yellow
#E49400 - deep yellow
#DD5200 - orange
*/
/******************************************************************************
 Styling the header
******************************************************************************/
#headerrow {
    font-weight: bold;
    display: table-row;
    width: 100%;
    background-color: #FFE205;
}
#header {
    background-color: inherit;
    width: 100%;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    padding: 2% 0 2% 5%;
    color: #E49400;
    letter-spacing: 4px;
    text-shadow: 0px 2px 2px #B96900;
    transition: color 2s;
}
h2 {
    font-size: 1.3em;
    text-align: center;
    margin: 0.5% 0 0.5% 0%;
    transition: text-shadow 2s, color 1s;
}
/*
#EFE38A - beige
#91B166 - greenish
#FFE205 - yellow
#E49400 - deep yellow
*/
/******************************************************************************
 Styling the navigation bar
******************************************************************************/
#navbar {
    display: table-row;
    width: 100%;
    background-color: #E49400;
    margin-bottom: 10%;
    text-align: center;
}
#links {
    width: 100%;
}
#links a, #links a:link, #links a:visited, #links a:hover, #links a:active {
    margin: 0.1%;
    color: #FFE205;
}
.nav {
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    height: 100%;
    padding: 2% 1% 2% 1%;
    text-shadow: 0 1px 2px #557531;
    border-right: 1px solid #FFE205;
    border-collapse: collapse;
    font-weight: bold;
}
#last {
    border-right: none;
}
/*
#EFE38A - beige
#91B166 - greenish
#FFE205 - yellow
#E49400 - deep yellow
#DD5200 - orange
*/
/******************************************************************************
 Styling the body/container
******************************************************************************/
#container {
    width: 100%;
}
#container a {
    text-decoration: underline;
    color: #DD5200;
}
h3 {
    position: absolute;
    background-color: #E49400;
    color: #DD5200;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1% 0 1% 0;
    text-align: center;
    z-index: 10;
}
p {
    font-size: 1.1em;
    width: 80%;
    margin: 0% 5% 0% 5%;
    background-color: rgba(239,227,138,0.7);
    padding: 15% 5% 5% 5%;
    color: #886200;
    z-index: -5;
}
/*
#EFE38A - beige
#91B166 - greenish
#FFE205 - yellow
#E49400 - deep yellow
*/
/******************************************************************************
 Styling the footer
******************************************************************************/
#footerrow {
    display: table-row;
    width: 100%;
    background-color: #E49400;
    font-size: 1em;
}
#footer {
    display: table;
    width: 100%;
    background-color: inherit;
}
#name {
    display: block;
    margin: 1% 0 1% 0;
    text-align: center;
    color: #FFE205;
    text-shadow: 0px 2px 2px #668641;
}
#right {
    display: block;
    text-align: center;
    margin: 1% 0 1% 0;
}
#prolink {
    color: #FFE205;
    text-shadow: 0px 2px 2px #557531;
    text-decoration: none;
    font-style: bold;
}
