@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.5em;
        /*margin-left: 5%;*/
        margin: 0.19em 0 0.19em 5%;
    }
    h2 {
        font-size: 2.5em;
        margin: 0 0 0.1em 5%;
    }
    .item {
        font-size: 3.5em;
        width: 27.9%;
        padding-top: 1.08em;
        padding-bottom: 1.08em;
    }
    .item div {
        position: absolute;
        text-align: center;
        padding: 0;
        transform: translate(-50%, -50%);
        width: 75%;
        text-indent: 10px;
    }
    #footerrow {
        font-size: 1.48em;
    }
}
